:root {
	--brand-primary: #670679;
	--brand-secondary:#E2C007;
}

body {
	background-color: var(--brand-primary);
	color: #ffffff;
}

h1 {
	color: var(--brand-secondary);
}

a {
	color: #ffffff;
}

ul.nav {
	padding: 20px;
    margin: 0 auto;
}

ul.nav li a {
	padding: 20px;
	font-size: 1.2em;
}

div.heading {
    padding-top: 100px;
	width: 465px;
    margin: 0 auto;
}

div.work {
    padding-top: 50px;
}

h1.heading {
	font-size: 7rem;
}

span.heading {
	color: #ffffff;
	font-weight: 200;
}

ul.skills {
	font-weight: 200;
    font-size: 1.2em;
    list-style: none;
    margin-top: -10px;
    text-align: right;
    color: var(--brand-secondary);
}

ul.nav li.active:after {
    content: "";
    position: absolute;
    top: 35px;
    background: var(--brand-secondary);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left:calc(47%);
}

ul.nav li {
    display: inline-block;
    position: relative;
}

ul.nav li a {
    color: white;
    font-weight: 200;
    font-size: 1.4em;
}

ul.nav li a:hover {
    color: white;
    text-decoration: none;
}

h2 {
    font-weight: 200;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    h1.heading {
        font-size: 4rem;
    }

    ul.skills {
        font-size: 0.9em;
        text-align: unset;
    }
}

.ctr {
    text-align: center;
}

.submit {
    text-align: right;
}

.col-order {
    width: 8.33%;
}